.root {
	-fx-font-size: 18px;
	
}

.dialog-pane:header .header-panel .label {
	-fx-font-weight: bold;
}

.dialog-pane > .content {
	-fx-text-alignment: justify;
	-fx-text-fill: black;
	-fx-font-size: 16px;
}
