.root {
	background: #404040;
	
	-fx-font-size: 18px;
	-fx-background-color: background;
	-fx-text-box-border: dimgray;
	-fx-control-inner-background: darkgray;
}

.label {
	-fx-font-size: 25px;
	-fx-background-color: background;
	-fx-text-fill: cornsilk;
}

.unfocused-button {
	-fx-text-fill: darkorange;
}

.value-button {
	-fx-text-fill: red;
}

.menu-bar {
	-fx-background-color: background;
	-fx-control-inner-background: background;
}

.menu-item {
	-fx-background-color: background;
}

.menu-item:hover, .menu-item .label:hover, .menu .label:hover {
	-fx-background-color: midnightblue;
}

.menu-item .label, .menu .label {
	-fx-font-size: 16px;
	-fx-background-color: background;
}

.dialog-pane:header .header-panel .label {
	-fx-font-weight: bold;
}

.dialog-pane > .content {
	-fx-text-alignment: justify;
	-fx-text-fill: black;
	-fx-font-size: 16px;
}

.text-field {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.text-input {
	-fx-text-fill: navy;
	-fx-font-weight: bold;
}

.combo-box {
	-fx-font-size: 18px;
	-fx-background-color: white;
	-fx-text-fill: black;
}

.button {
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.button:hover {
  -fx-background-color: yellow;
} 
.button:pressed {
  -fx-background-color: brown;
}

.button:disabled {
}

.text-field:focused {
}


/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/

.spinner {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
}

.spinner:focused,
.spinner:contains-focus {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
}

.spinner > .text-field {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.spinner .increment-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.spinner .decrement-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: black, black;
}

.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

