.root {
	-fx-font-size: 18px;
	-fx-background-color: dimgrey;
}

.label {
	-fx-font-size: 25px;
}

.dialog-pane:header .header-panel .label {
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.dialog-pane > .content {
	-fx-text-alignment: justify;
	-fx-text-fill: black;
	-fx-font-size: 16px;
}

.menu-bar {
	fx-font-size: 16;
}

.text-field {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.text-input {
	-fx-text-fill: blue;
	-fx-font-weight: bold;
}

.combo-box {
	-fx-font-size: 18px;
	-fx-background-color: white;
	-fx-text-fill: black;
}

.button {
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

#FEHLER{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: red;
}

.button:hover {
  -fx-background-color: yellow;
} 
.button:pressed {
  -fx-background-color: brown;
}

.button:disabled {
}

.text-field:focused {
}


/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/

.spinner {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 3, 3, 2;
}
.spinner:focused,
.spinner:contains-focus {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4 -1.4 -0.4 -1.4, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 4, 3, 2;
}
.spinner:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.spinner > .text-field {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0 0 1 0, 1 0 2 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2;
}

.spinner .increment-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 3 0 0, 0 2 0 0, 0 1 0 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}
.spinner .decrement-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1 0 1 0, 0 1 2 1, 0 2 3 2;
    -fx-background-radius: 0 0 3 0, 0 0 2 0, 0 0 1 0;
    -fx-padding: 0.250em 0.666em 0.5em 0.666em; /* 3 8 6 8 */
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: -0.6 0 1 0, 0;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
    -fx-rotate: 180;
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

/* Spinner - Horizontal arrows */
.spinner.split-arrows-horizontal .increment-arrow-button .increment-arrow,
.spinner.arrows-on-right-horizontal .increment-arrow-button .increment-arrow,
.spinner.arrows-on-left-horizontal .increment-arrow-button .increment-arrow,
.spinner.split-arrows-horizontal .decrement-arrow-button .decrement-arrow,
.spinner.arrows-on-right-horizontal .decrement-arrow-button .decrement-arrow,
.spinner.arrows-on-left-horizontal .decrement-arrow-button .decrement-arrow{
    -fx-padding: 0.333em 0.166em 0.333em 0.166em; /* 4 2 4 2 */
    -fx-shape: "M 4 0 v 7 l -4 -3.5 z";
}

/* Spinner - STYLE_CLASS_ARROWS_ON_RIGHT_HORIZONTAL */
.spinner.arrows-on-right-horizontal .increment-arrow-button {
    -fx-background-insets: 0 0 1 0, 1 1 2 0, 2 2 3 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.583em; /* 4 8 4 7 */

}
.spinner.arrows-on-right-horizontal .decrement-arrow-button {
    -fx-background-insets: 0 0 1 0, 1 1 2 1, 2 2 3 2;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}

/* Spinner - STYLE_CLASS_ARROWS_ON_LEFT_VERTICAL */
.spinner.arrows-on-left-vertical > .text-field {
    -fx-background-insets: 0 0 1 0, 1 1 2 0;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}
.spinner.arrows-on-left-vertical .increment-arrow-button {
    -fx-background-radius: 3 0 0 0, 2 0 0 0, 1 0 0 0;
}
.spinner.arrows-on-left-vertical .decrement-arrow-button {
    -fx-background-radius: 0 0 0 3, 0 0 0 2, 0 0 0 1;
}

/* Spinner - STYLE_CLASS_ARROWS_ON_LEFT_HORIZONTAL */
.spinner.arrows-on-left-horizontal > .text-field {
    -fx-background-insets: 0 0 1 -1, 1 1 2 -1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}
.spinner.arrows-on-left-horizontal .increment-arrow-button {
    -fx-background-insets: 0 0 1 0, 1 1 2 0, 2 2 3 1;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.583em; /* 4 8 4 7 */
}
.spinner.arrows-on-left-horizontal .decrement-arrow-button {
    -fx-background-insets: 0 0 1 0, 1 1 2 1, 2 2 3 2;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}

/* Spinner - STYLE_CLASS_SPLIT_ARROWS_VERTICAL */
.spinner.split-arrows-vertical > .text-field {
    -fx-background-insets: 0, 0 1 0 1;
    -fx-background-radius: 0, 0;
}
.spinner.split-arrows-vertical .increment-arrow-button {
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
}
.spinner.split-arrows-vertical .decrement-arrow-button {
    -fx-background-insets: -1 0 1 0, 0 1 2 1, 1 2 3 2;
    -fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
    -fx-padding: 0.25em 0.666em 0.417em 0.666em; /* 3 8 5 8 */
}

/* Spinner - STYLE_CLASS_SPLIT_ARROWS_HORIZONTAL */
.spinner.split-arrows-horizontal > .text-field {
    -fx-background-insets: 0 0 1 0, 1 0 2 0;
    -fx-background-radius: 0, 0;
}
.spinner.split-arrows-horizontal .increment-arrow-button {
    -fx-background-insets: 0 0 1 0, 1 1 2 1, 2 2 3 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}
.spinner.split-arrows-horizontal .decrement-arrow-button {
    -fx-background-insets: 0 0 1 0, 1 1 2 1, 2 2 3 2;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}
